.contenedorContacto{
    position: relative;
    color: white;
    max-width: 700px;
    background-color: rgba(0,0,0,0.75);
    padding:50px;
    z-index: 9999;
   margin-left: 50%;
   margin-top: 35%;
    transform: translate(-50%, -50%);
    
  }

  .label{
      color: white;
  }
  .error{
      color: rgb(233, 67, 67);
  }

  .enviado{
      color: rgb(8, 194, 169);
  }

  #datosPropiedad{
    margin-bottom: 45px;
  }