.container {
    max-width: 100%;
}
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
}
.desktop-home__logo .imgLogo {
    width: 600px;
    margin-top: 200px;
}

.imgLogo{
    width: 600px;
    aspect-ratio: auto 400 / 163;
    height: 150px;
    vertical-align: middle;
}
.desktop-home {
    position: relative;
    height: 500px;
    width: 100%;
    margin-top: 0px;
    
    text-align: center;
    background-color: #bba89e;
    background-size: cover;
    background-position: 50%;
}
.desktop-home--30 {
    background-image: url("../assets/fondohome.png");
}

.saltoHome{
    background-color: transparent;
}
.desktop-home__disparador {
    margin: 10px 20px 20px;
    width: 600px;
    height: 70px;
    font-weight: 200;
    padding: 7px;
    background-color: rgba(0,0,0,.5);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    border-radius: 5px;
}

.desktop-home__disparador .btn-default {
    color: #ffffff;
}
.desktop-home__disparador .btn {
    font-size: 1em;
}

.btn-naranja {
    background-color: rgb(6, 165, 144);
    border-color: rgb(6, 165, 144);
    color: #fff;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px 5px 5px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.desktop-home__disparador .react-autosuggest__input {
    width: 500px;
    height: 55px;
    padding: 10px 35px;
    border-radius: 5px 0px 0px 5px;
    font-weight: bolder;
    background-color: transparent;
    color: #fff;
}



#buttonSiguiente{
    float: right;

}

.contenedorPagination{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    padding: 0 50px;
}